@font-face {
    font-family: Merel Black;
    src: url("/fonts/Merel Black.otf");
}

@font-face {
    font-family: Merel Bold;
    src: url("/fonts/Merel Bold.otf");
}

@font-face {
    font-family: Merel Light;
    src: url("/fonts/Merel Light.otf");
}

@font-face {
    font-family: Merel Medium;
    src: url("/fonts/Merel Medium.otf");
}

@font-face {
    font-family: Merel Thin;
    src: url("/fonts/Merel Thin.otf");
}

@font-face {
    font-family: Merel Regular;
    src: url("/fonts/Merel.otf");
}

@font-face {
    font-family: Helvetica;
    src: url("/fonts/Helvetica Regular.otf");
}